<h4>Tareas</h4>
<div class="row">

	<div class="right-align">
		<div class="card-panel ">
			<h6>{{tarea.nombre}}</h6>
			<a href="/tareas"  class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">arrow_back</i></a>

			<table class="responsive-table">

				<thead>

					<th>Usuario</th>
					<th>Fecha</th>
					<th>Confirmacion Pago</th>
					<th>Confirmacion Recibido</th>

				</thead>

				<tbody>
					{{#each confirms}}
					<tr>	
						<td>{{this.user.name}}</td>
						<td>
							{{#if confirmacion_pago}}
								
							<span class="new badge" data-badge-caption="Pago Realizado Confirmado"></span>

							{{/if}}

						</td>
						<td>{{this.fecha}}</td>
						

						<td>
							{{#if confirmacion_recibo}}
								
								<span class="new badge" data-badge-caption="Pago recibido Confirmado"></span>
								
							{{else}}
								{{#if_equal ../tarea.user ../user._id}}
									<a href="/confirm-recibo/{{this._id}}" class="waves-effect waves-light green btn-small">Confirmar</a>
								{{/if_equal}}
								
							{{/if}}

						</td>

					</tr>
					{{/each}}

				</tbody>

			</table>
		</div>
	</div>
</div>


  <!-- Modal Structure 
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Confirma tu Pago</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceptar</a>
    </div>
  </div>

-->